@{
    Layout = null; // Assurez-vous que la vue partielle n'utilise pas de layout
}


<div> 
    <ul>
        @foreach(string item in ViewBag.hi)
        {
            <li>@item</li>
        }



    </ul>

</div>
