@using TirelireWebApp.Models.Panier
@using TirelireWebApp.Models
@using TirelireWebApp.ViewModels

 
@model List<PanierItem>

@*
 @model PanierViewData
 @{
	ViewData["Title"] = "Client";
}  *@

@foreach (var a in Model){
	@a.Quantite
}
<!-- Contenu de la vue partielle -->



<h3>Bonjour create</h3>
ceci est un test essaie.Quantite


