@using TirelireWebApp.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TirelireWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TirelireWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>
    <header>
        @* <div style=" background:  #1fa67a" type=" hidden"> MyWebApp</div> *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="border-top: solid #1fa67a 12px; margin: auto ; width: 93%; 
border-top: solid #1fa67a 5px ; border-radius: 75px; margin-top: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Logo5.png" alt="Logo" style="height: 50px; max-width: 100%; object-fit: contain;" />
                    <h3 style="margin-left: 10px;">TirelireWebApp</h3>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <!-- Search Form -->
                    <form class="d-flex mx-auto my-2" asp-controller="Home" asp-action="Index" method="get" style="max-width: 300px;">
                        <input class="form-control me-2" type="search" name="SearchString" placeholder="Search" aria-label="Search" style="border-radius: 20px ; width : auto ;background: transparent;">
                        <button class="btn" type="submit" style="border-radius: 0 20px 20px 0; background: transparent; border: none; width : 100%;">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>

                   
                   

                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="font-size: larger;">
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="fa fa-home" style="color: #1fa67a;"></span></a>
                            </li>
                        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Moderateur) || User.IsInRole(SD.Role_Assistant))
                            {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="roleDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Gestion</a>
                                <ul class="dropdown-menu" aria-labelledby="roleDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AvisGestion" >Moderer les avis</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ClientGestion" >Gerer les clients</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AvisGestion" > Gerer les avis</a></li>
                                    <li><hr class="dropdown-divider" /></li>

                                </ul>
                            </li>
                            }
                        </ul>
                   
                    


                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="text-center" style="font-size: large ; ">
            App Web <i class="fa fa-heart"></i>  Lafatra  <i class="fa fa-heart "></i>   2024 - TirelireWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/myScript.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
