@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class=" text-center ">
    Attention l'espace est réservé aux Responsables  ! ---- Seul l'ADMIN peut y acceder'
    <h1> Gestions des AVIS </h1>
</div>